Repository fubabaz/algorithm, pull requests merged in 2022-01, with the labels that each got.

#1 chore: baekjoon 2557
  src/zeroradish/README.md
  src/zeroradish/baekjoon/problem/no2557/Main.java
Labels: algorithm

#2 chore: baekjoon 2557
  src/lightvirus/baekjoon/problem/no2557/Main.java
Labels: algorithm

#3 chore: baekjoon 2557
  src/joyowlsf/README.md
  src/joyowlsf/baekjoon/problem/no2557/Main.java
Labels: algorithm

#11 chore:baekjoon 10718
  src/joyowlsf/baekjoon/problem/no10718/Main.java
Labels: BAEKJOON

#13 chore: baekjoon 1000
  src/zeroradish/baekjoon/_1000.java
Labels: BAEKJOON

#14 chore: baekjoon 10718
  src/zeroradish/baekjoon/_10718.py
Labels: baekjoon

#15 chore: baekjoon 10171
  src/zeroradish/baekjoon/_10171.py
Labels: baekjoon

#16 chore: baekjoon 10172
  src/zeroradish/baekjoon/_10172.py
Labels: baekjoon

#17 chore: baekjoon 10171
  src/joyowlsf/baekjoon/_10171.java
Labels: baekjoon

#18 chore: baekjoon 10718
  src/spidyweb/baekjoon/_10718.py
Labels: algorithm, baekjoon

#20 chore: baekjoon 1001
  src/zeroradish/baekjoon/_1001.java
Labels: baekjoon

#21 chore: baekjoon 10998
  src/zeroradish/baekjoon/_10998.java
Labels: baekjoon

#24 chore: baekjoon 1008
  src/zeroradish/baekjoon/_1008.java
Labels: baekjoon

#19 chore: baekjoon 1000
  src/lightvirus/baekjoon/_1000.java
Labels: algorithm, baekjoon

#27 chore: baekjoon 10172
  src/lightvirus/baekjoon/_10172.py
Labels: algorithm, baekjoon

#28 chore: baekjoon 1001
  src/lightvirus/baekjoon/_1001.java
Labels: algorithm, baekjoon

#29 chore: baekjoon 10998
  src/lightvirus/baekjoon/_10998.java
Labels: algorithm, baekjoon

#31 chore: baekjoon 1008
  src/lightvirus/baekjoon/_1008.java
Labels: algorithm, baekjoon

#32 chore: baekjoon 10869
  src/lightvirus/baekjoon/_10869.java
Labels: algorithm, baekjoon

#33 chore: baekjoon 10430
  src/lightvirus/baekjoon/_10430.java
Labels: algorithm, baekjoon

#23 chore: baekjoon 10869
  src/zeroradish/baekjoon/_10869.java
Labels: baekjoon

#25 chore: baekjoon 10430
  src/zeroradish/baekjoon/_10430.java
Labels: baekjoon

#39 chore: baekjoon 18108
  src/lightvirus/baekjoon/_18108.java
Labels: algorithm, baekjoon

#38 chore: baekjoon 10926
  src/lightvirus/baekjoon/_10926.java
Labels: algorithm, baekjoon

#36 chore: baekjoon 10171
  src/spidyweb/baekjoon/_10171.py
Labels: algorithm, baekjoon
